<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	 <system.web>
		 <customErrors mode="Off"/>
		 <compilation debug="true"/>
		 <httpRuntime maxRequestLength="3000000" />
	 </system.web>
  <system.webServer>
  
	<httpErrors errorMode="Detailed" />
	<asp scriptErrorSentToBrowser="true"/>
  
	<staticContent>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
    </staticContent>
    <rewrite>
      <rules>
			<rule name="rule 1J" stopProcessing="true">
				<match url="^srn-cms/*"  />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="/master_cms/index.php"  />
			</rule>
			<rule name="wordpress" patternSyntax="Wildcard">
				<match url="*"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="index.php/{R:0}"/>
			</rule>
			
			
	  </rules>
    </rewrite>
	<httpProtocol>
        <customHeaders>
            <!-- allowing all-->
            <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>